*{
 margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
   
}

.table-container {
    width: 100%;
    padding:20px 0;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-controls {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 15px;
    gap: 5px;
}

.btn {
    padding: 6px 10px;
    background-color: rgb(235, 239, 247);
    border-radius: 4px;
    border: 1px solid grey;
}

.search-bar {
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.filterIcon {
    padding: 6px 10px;
    border-radius: 4px;
}

.pagination-controls {
    display: flex;
    gap: 10px;
}

.pagination-button {
    background: #007bff;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.pagination-button:hover {
    background: #0056b3;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.custom-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.custom-table th div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-table tbody tr:hover {
    background-color: #f9f9f9;
}

.custom-table td {
    background-color: white;
}

.table_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: 0;
}

.dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 5px;
}

.dropdown-menu li div {
    cursor: pointer;
    padding: 5px;
}

.dropdown-menu li div:hover {
    background-color: #f0f0f0;
}

.closeIcon {
    border-radius: 4px;
    border: 1px solid rgb(180, 72, 72);
    background-color: rgb(236, 197, 197);
    color: rgb(180, 72, 72);
    padding: 6px 10px;
    margin-left: 5px;
}

.Rows {
    border-radius: 4px;

}

.btn-grp {
    display: flex;
    gap: 3px;
}